/*-- scss:defaults --*/
$presentation-heading-color: yellow;

/*-- scss:rules --*/
.reveal .slide strong {
  color: yellow;
}
.reveal .slide a {
  color: yellow;
}
.reveal table td {
  border-bottom: none;
}